---
layout: default
title: People
section_id: portfolio
works:
  - image: images/groupPics/lixia_zhang.jpg
    title: Lixia Zhang
    link_to: https://www.irl.cs.ucla.edu
    klass: pi
    desc: Principal Investigator
  - image: images/groupPics/zhiyi_zhang.jpg
    title: Zhiyi Zhang
    link_to: https://zhiyi-zhang.com/
    klass: phd-candidate
    desc: Ph.D Candidate
  - image: images/groupPics/tianxiang_li.jpg
    title: Tianxiang Li
    link_to: https://www.irl.cs.ucla.edu
    klass: phd-student
    desc: Ph.D Student
  - image: images/groupPics/xinyu_ma.jpeg
    title: Xinyu Ma
    link_to: https://www.irl.cs.ucla.edu
    klass: phd-student
    desc: Ph.D Student
  - image: images/groupPics/hunter_dellaverson.jpg
    title: John Dellaverson
    link_to: https://www.irl.cs.ucla.edu
    klass: phd-student
    desc: Ph.D Student
  - image: images/groupPics/eric_newberry.jpg
    title: Eric Newberry
    link_to: https://ericnewberry.com/
    klass: phd-student
    desc: Ph.D Student
  - image: images/groupPics/tianyuan_yu.jpg
    title: Tianyuan Yu
    link_to: https://www.irl.cs.ucla.edu
    klass: phd-student
    desc: Ph.D Student
  - image: images/groupPics/yufeng_zhang.jpg
    title: Yufeng Zhang
    link_to: https://www.irl.cs.ucla.edu
    klass: undergrad
    desc: Undergraduate
  - image: images/groupPics/siqi_liu.jpg
    title: Siqi Liu
    link_to: https://www.irl.cs.ucla.edu
    klass: undergrad
    desc: Undergraduate
ks:
  - image: images/alumniPics/spyridon_mastorakis.jpg
    title: Spyridon Mastorakis
    link_to: https://sites.google.com/site/spyridonmastorakis
    klass: alPHD
    desc: Graduated in 2019, Thesis -- Peer-to-Peer Data Sharing in Named-Data Networking.
  - image: images/alumniPics/haitao_zhang.jpg
    title: Haitao Zhang
    link_to: https://irl.cs.ucla.edu/~haitao
    klass: alPHD
    desc: Graduated in 2018
  - image: images/alumniPics/wentao_shang.jpeg
    title: Wentao Shang
    link_to: https://irl.cs.ucla.edu/~wentao
    klass: alPHD
    desc: Graduated in 2017, Thesis -- Distributed Dataset Synchronization in Named Data Networking
  - image: images/alumniPics/yingdi_yu2.jpg
    title: Yingdi Yu
    link_to: https://irl.cs.ucla.edu/~yingdi
    klass: alPHD
    desc: Graduated in 2016, Thesis -- Usable Security for Named Data Networking
  - image: images/alumniPics/ilya_moiseenko.jpg
    title: Ilya Moiseenko
    link_to: https://irl.cs.ucla.edu/
    klass: alPHD
    desc: Graduated in 2015, Thesis -- Consumer / Producer Communication with Application Level Framing in Named Data Networking
  - image: images/alumniPics/alex_afanasyev.jpg
    title: Alex Afanasyev
    link_to: https://users.cs.fiu.edu/~afanasyev/
    klass: alPHD
    desc: Graduated in 2013, Thesis -- Addressing Operational Challenges in Named Data Networking Through NDNS Distributed Database
  - image: images/alumniPics/zhenkai_zhu.png
    title: Zhenkai Zhu
    link_to: https://www.linkedin.com/in/zhuzhenkai
    klass: alPHD
    desc: Graduated in 2013, Thesis -- Support Mobile and Distributed Applications with Named Data Networking
  - image: images/alumniPics/peichuan_cheng.jpg
    title: Peichaun (Payne) Cheng
    link_to: http://irl.cs.ucla.edu/~payne/
    klass: alPHD
    desc: Graduated in 2012, Thesis -- Understanding the BGP Transport Delay
  - image: images/alumniPics/michael_meisel.jpg
    title: Michael Meisel
    link_to: http://irl.cs.ucla.edu/~mrm/
    klass: alPHD
    desc: Graduated in 2011, Thesis -- BOND&#58; Unifying Mobile Networks with Named Data
  - image: images/alumniPics/jonathan_park.jpg
    title: Jong Han (Jonathan) Park
    link_to: http://irl.cs.ucla.edu/~payne/
    klass: alPHD
    desc: Graduated in 2011, Thesis -- Understanding the Impact of Internal BGP Route Reflection
  - image: images/alumniPics/erik_osterweil.jpg
    title: Eric Osterweil
    link_to: https://cs.gmu.edu/~eoster/index.html
    klass: alPHD
    desc: Graduated in 2010, Thesis -- Measurable Security&#58; a New Substrate for DNSSEC
  - image: images/alumniPics/ricardo_oliveira.png
    title: Ricardo V. Oliveira
    link_to: http://irl.cs.ucla.edu/~payne/
    klass: alPHD
    desc: Graduated in 2009, Thesis -- Understanding the Internet AS-level Structure
  - image: images/alumniPics/mohit_lad.jpg
    title: Mohit Lad
    link_to: http://irl.cs.ucla.edu/~mohit/
    klass: alPHD
    desc: Graduated in 2007, Thesis -- Understanding and Diagnosing Routing Dynamics in Global Internet
  - image: images/alumniPics/vasileios_pappas.jpg
    title: Vasileios Pappas
    link_to: http://irl.cs.ucla.edu/
    klass: alPHD
    desc: Graduated in 2006
  - image: images/alumniPics/dan_pei.jpg
    title: Dan Pei
    link_to: http://netman.cs.tsinghua.edu.cn/~peidan/
    klass: alPHD
    desc: Graduated in 2005
  - image: images/alumniPics/lan_wang.jpg
    title: Lan Wang
    link_to: http://www.cs.memphis.edu/~lanwang/
    klass: alPHD
    desc: Graduated in 2004, Thesis -- Improving Internet Resilience through Lightweight Preventive Detection (LPD) and Persistent Detection and Recovery (PDR)
  - image: images/alumniPics/fan_ye.jpg
    title: Fan Ye
    link_to: http://www.ece.stonybrook.edu/~fanye/index2.html
    klass: alPHD
    desc: Graduated in 2004, Thesis -- Building Resilient Sensor Networks by Exploiting Scale and Redundancy
  - image: images/alumniPics/nelson_tang.jpg
    title: Nelson Tang
    link_to: http://irl.cs.ucla.edu/
    klass: alPHD
    desc: Graduated in 2003
  - image: images/alumniPics/beichuan_zhang.jpg
    title: Beichuan Zhang
    link_to: http://www.cs.arizona.edu/~bzhang/
    klass: alPHD
    desc: Graduated in 2003
  - image: images/alumniPics/yixin_jin.png
    title: Yixin Jin
    link_to: http://irl.cs.ucla.edu/
    klass: alPHD
    desc: Graduated in 2001
  - image: images/alumniPics/dan_massey.jpg
    title: Dan Massey
    link_to: https://www.colorado.edu/cs/daniel-massey
    klass: alPHD
    desc: Graduated in 2000
  - image: images/alumniPics/andreas_terzis.jpg
    title: Andreas Terzis
    link_to: http://www.cs.jhu.edu/~terzis/
    klass: alPHD
    desc: Graduated in 2000
  - image: images/alumniPics/jun_wei.jpg
    title: Jun Wei
    link_to: https://www.linkedin.com/in/jun-wei-b154293/
    klass: alPHD
    desc: Graduated in 2000

  - image: images/alumniPics/zhaoning_kong.png
    title: Zhaoning Kong
    link_to: https://jonnykong.com
    klass: alMasters
    desc: Graduated in 2020
  - image: images/alumniPics/Weijia_yuan.jpg
    title: Weijia Yuan
    link_to: https://www.linkedin.com/in/weijia-yuan-85a69314a/
    klass: alMasters
    desc: Graduated in 2019
  - image: images/alumniPics/yukai_tu.jpg
    title: Yukai Tu
    link_to: https://irl.cs.ucla.edu/~yukai/
    klass: alMasters
    desc: Graduated in 2018
  - image: images/alumniPics/xin_xu.jpg
    title: Xin Xu
    link_to: http://xin-xu.com/
    klass: alMasters
    desc: Graduated in 2018
  - image: images/alumniPics/manika_mittal .jpg
    title: Manika Mittal
    klass: alMasters
    desc: Graduated in 2017
  - image: images/alumniPics/zhehao_wang.jpg
    title: Weijia Yuan
    klass: alMasters
    desc: Graduated in 2017
  - image: images/alumniPics/yumin_xia.jpg
    title: Yumin Xia
    link_to: https://irl.cs.ucla.edu/~yumin/
    klass: alMasters
    desc: Graduated in 2017
  - image: images/alumniPics/michael_sweatt.jpg
    title: Michael Sweatt
    link_to: https://www.linkedin.com/in/michaelsweatt
    klass: alMasters
    desc: Graduated in 2016
  - image: images/alumniPics/qiuhan_ding.jpg
    title: Qiuhan Ding
    link_to: http://irl.cs.ucla.edu/~qiuhanding
    klass: alMasters
    desc: Graduated in 2015
  - image: images/alumniPics/xingyu_ma.jpg
    title: Xingyu Ma
    klass: alMasters
    desc: Graduated in 2014
  - image: images/alumniPics/jiwen_cai.jpg
    title: Jiwen Cai
    link_to: http://irl.cs.ucla.edu/~jwcai/
    klass: alMasters
    desc: Graduated in 2012
  - image: images/alumniPics/lucas_wang.jpg
    title: Lucas (Jiangzhe) Wang
    klass: alMasters
    desc: Graduated in 2012

  - image: images/alumniPics/yuguan.jpg
    title: Yu guan
    link_to: https://www.researchgate.net/profile/Yu_Guan20
    klass: alVisitors
    desc: Visiting Graduate Researcher from Peking University
  - image: images/alumniPics/yanbiao_li.jpg
    title: Yanbiao Li
    klass: alVisitors
    desc: Postdoc, Left in 2019
  - image: images/alumniPics/zhongda_xia.jpg
    title: Zhongda Xia
    klass: alVisitors
    desc: 2017.09 - 2018.10
  - image: images/@stock/work-7.jpg
    title: Prof. Wang Yang
    klass: alVisitors
    desc: 2015.03 - 2016.02
  - image: images/@stock/work-7.jpg
    title: Lijing Wang
    klass: alVisitors
    desc: 2014.10 - 2015.08
  - image: images/alumniPics/xiaoke_jiang.jpg
    title: Xiaoke Jiang
    klass: alVisitors
    link_to: http://netarchlab.tsinghua.edu.cn/~shock/
    desc: 2014.07 - 2015.07
  - image: images/alumniPics/shuo_chen.jpg
    title: Shuo Chen
    klass: alVisitors
    desc: 2014.01 - 2014.03
  - image: images/@stock/work-7.jpg
    title: Xiaojiang Chen
    klass: alVisitors
    desc: 2014.01 - 2014.03
  - image: images/alumniPics/yu_zhang.jpg
    title: Prof. Yu Zhang
    klass: alVisitors
    desc: 2013.04 - 2014.04
    link_to: https://www.linkedin.com/in/yu-zhang-63a6711a
  - image: images/@stock/work-7.jpg
    title: Kun Yu
    klass: alVisitors
    desc: 2013.01 - 2013.06
  - image: images/@stock/work-7.jpg
    title: Chaoyi Bian
    klass: alVisitors
    desc: 2011.09 - 2012.06
  - image: images/alumniPics/xiaoming_fu.jpg
    title: Prof. Xiaoming Fu
    klass: alVisitors
    desc: 2009.09 - 2010.06
    link_to: http://user.informatik.uni-goettingen.de/~fu/





---


<div class='full parallax' style='background-image: url(images/banner/banner.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="The team" tagline="The members of the IRL Group." color="#000000" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='four spacing'></div>

<h1>
  <center>
    Current Members
  </center>

</h1>

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='pi' href='#'>Principal Investigator</a>
          </li>
          <li>
            <a data-cat='phd-candidate' href='#'>Ph.D Candidate</a>
          </li>
          <li>
            <a data-cat='phd-student' href='#'>Ph.D Student</a>
          </li>
          <li>
            <a data-cat='masters' href='#'>Masters Student</a>
          </li>
          <li>
            <a data-cat='undergrad' href='#'>Undergraduate</a>
          </li>
          <li>
            <a data-cat='visiting' href='#'>Visiting Researcher</a>
          </li>
        </ul>
      </div>

      <ul class='gallery small-block-grid-5'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>

<h1>
  <center>
    Alumni
  </center>

</h1>

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='alPHD' href='#'>Alumni (Ph.D)</a>
          </li>
          <li>
            <a data-cat='alMasters' href='#'>Alumni (Masters Students)</a>
          </li>
          <li>
            <a data-cat='alVisitors' href='#'>Alumni (Visitors)</a>
          </li>
        </ul>
      </div>

      <ul class='gallery small-block-grid-5'>

        {% for work in page.ks %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>