---
layout: default
title: People
section_id: portfolio
works:
  - image: images/groupPics/lixia_zhang.jpg
    title: Lixia Zhang
    link_to: https://www.google.com
    klass: graphic-design
    desc: Principal Investigator
  - image: images/groupPics/hunter_dellaverson.jpg
    title: John Dellaverson
    link_to: https://www.google.com
    klass: web-design print
    desc: Ph.D Student
  - image: images/groupPics/tianxiang_li.jpg
    title: Tianxiang Li
    link_to: https://www.google.com
    klass: web-design print
    desc: Ph.D Student
  - image: images/@stock/work-4.jpg
    title: Tianyuan Yu
    link_to: https://www.google.com
    klass: web-design print
    desc: Ph.D Student
  - image: images/groupPics/xinyu_ma.jpeg
    title: Xinyu Ma
    link_to: https://www.google.com
    klass: web-design print
    desc: Ph.D Student
  - image: images/groupPics/yuguan.jpg
    title: Yu guan
    link_to: https://www.google.com
    klass: development print
    desc: Visiting Graduate Researcher from Peking University
  - image: images/@stock/work-7.jpg
    title: Zhaoning
    link_to: https://www.google.com
    klass: brand
    desc: Masters Student
  - image: images/groupPics/zhiyi_zhang.jpg
    title: Zhiyi
    link_to: https://zhiyi-zhang.com/
    klass: candidate
    desc: Ph.D Candidate
  - image: images/groupPics/yufeng.jpg
    title: Yufeng
    link_to: https://www.google.com
    klass: Undergraduate
    desc: Undergraduate

ks:
  - image: images/alumniPics/spyridon_mastorakis.jpg
    title: Spyridon Mastorakis
    link_to: https://sites.google.com/site/spyridonmastorakis
    klass: alPHD
    desc: Graduated in 2019, Thesis -- Peer-to-Peer Data Sharing in Named-Data Networking.
  - image: images/alumniPics/haitao_zhang.jpg
    title: Haitao Zhang
    link_to: https://irl.cs.ucla.edu/~haitao
    klass: alPHD
    desc: Graduated in 2018
  - image: images/alumniPics/wentao_shang.jpg
    title: Wentao Shang
    link_to: https://irl.cs.ucla.edu/~wentao
    klass: alPHD
    desc: Graduated in 2017, Thesis -- Distributed Dataset Synchronization in Named Data Networking
  - image: images/alumniPics/yingdi_yu.jpg
    title: Yingdi Yu
    link_to: https://irl.cs.ucla.edu/~yingdi
    klass: alPHD
    desc: Graduated in 2016, Thesis -- Usable Security for Named Data Networking
  - image: images/alumniPics/ilya_moiseenko.jpg
    title: Ilya Moiseenko
    link_to: https://irl.cs.ucla.edu/
    klass: alPHD
    desc: Graduated in 2015, Thesis -- Consumer / Producer Communication with Application Level Framing in Named Data Networking
  - image: images/alumniPics/alex_afanasyev.jpg
    title: Alex Afanasyev
    link_to: https://users.cs.fiu.edu/~afanasyev/
    klass: alPHD
    desc: Graduated in 2013, Thesis -- Addressing Operational Challenges in Named Data Networking Through NDNS Distributed Database
  - image: images/alumniPics/zhenkai_zhu.jpg
    title: Zhenkai Zhu
    link_to: https://www.linkedin.com/in/zhuzhenkai
    klass: alPHD
    desc: Graduated in 2013, Thesis -- Support Mobile and Distributed Applications with Named Data Networking
  - image: images/alumniPics/peichuan_cheng.jpg
    title: Peichaun (Payne) Cheng
    link_to: http://irl.cs.ucla.edu/~payne/
    klass: alPHD
    desc: Graduated in 2012, Thesis -- Understanding the BGP Transport Delay
  - image: images/alumniPics/michael_meisel.jpg
    title: Michael Meisel
    link_to: http://irl.cs.ucla.edu/~mrm/
    klass: alPHD
    desc: Graduated in 2011, Thesis -- BOND&#58; Unifying Mobile Networks with Named Data
  - image: images/alumniPics/jonathan_park.jpg
    title: Jong Han (Jonathan) Park
    link_to: http://irl.cs.ucla.edu/~payne/
    klass: alPHD
    desc: Graduated in 2011, Thesis -- Understanding the Impact of Internal BGP Route Reflection
  - image: images/alumniPics/eric_osterweil.jpg
    title: Eric Osterweil
    link_to: https://cs.gmu.edu/~eoster/index.html
    klass: alPHD
    desc: Graduated in 2010, Thesis -- Measurable Security&#58; a New Substrate for DNSSEC
  - image: images/alumniPics/ricardo_oliveira.jpg
    title: Ricardo V. Oliveira
    link_to: http://irl.cs.ucla.edu/~payne/
    klass: alPHD
    desc: Graduated in 2009, Thesis -- Understanding the Internet AS-level Structure
  - image: images/alumniPics/mohit_lad.jpg
    title: Mohit Lad
    link_to: http://irl.cs.ucla.edu/~mohit/
    klass: alPHD
    desc: Graduated in 2007, Thesis -- Understanding and Diagnosing Routing Dynamics in Global Internet
  - image: images/alumniPics/vasileios_pappas.jpg
    title: Vasileios Pappas
    link_to: http://irl.cs.ucla.edu/
    klass: alPHD
    desc: Graduated in 2006
  - image: images/alumniPics/dan_pei.jpg
    title: Dan Pei
    link_to: http://netman.cs.tsinghua.edu.cn/~peidan/
    klass: alPHD
    desc: Graduated in 2005
  - image: images/alumniPics/lan_wang.jpg
    title: Lan Wang
    link_to: http://www.cs.memphis.edu/~lanwang/
    klass: alPHD
    desc: Graduated in 2004, Thesis -- Improving Internet Resilience through Lightweight Preventive Detection (LPD) and Persistent Detection and Recovery (PDR)
  - image: images/alumniPics/fan_ye.jpg
    title: Fan Ye
    link_to: http://www.ece.stonybrook.edu/~fanye/index2.html
    klass: alPHD
    desc: Graduated in 2004, Thesis -- Building Resilient Sensor Networks by Exploiting Scale and Redundancy
  - image: images/alumniPics/nelson_tang.jpg
    title: Nelson Tang
    link_to: http://irl.cs.ucla.edu/
    klass: alPHD
    desc: Graduated in 2003
  - image: images/alumniPics/beichuan_zhang.jpg
    title: Beichuan Zhang
    link_to: http://www.cs.arizona.edu/~bzhang/
    klass: alPHD
    desc: Graduated in 2003
  - image: images/alumniPics/yixin_jin.jpg
    title: Dan Pei
    link_to: http://irl.cs.ucla.edu/
    klass: alPHD
    desc: Graduated in 2001
  - image: images/alumniPics/dan_massey.jpg
    title: Dan Massey
    link_to: https://www.colorado.edu/cs/daniel-massey
    klass: alPHD
    desc: Graduated in 2000
  - image: images/alumniPics/andreas_terzis.jpg
    title: Andreas Terzis
    link_to: http://www.cs.jhu.edu/~terzis/
    klass: alPHD
    desc: Graduated in 2000
  - image: images/alumniPics/jun_wei.jpg
    title: Jun Wei
    link_to: https://www.linkedin.com/in/jun-wei-b154293/
    klass: alPHD
    desc: Graduated in 2000


  - image: images/alumniPics/Weijia_yuan.jpg
    title: Weijia Yuan
    link_to: https://www.linkedin.com/in/weijia-yuan-85a69314a/
    klass: alMasters
    desc: Graduated in





---


<div class='full parallax' style='background-image: url(images/banner/banner.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="The team" tagline="The members of the IRL Group." color="#000000" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Principal Investigator</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Ph.D Student</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Masters Student</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Visiting Researcher</a>
          </li>
          <li>
            <a data-cat='candidate' href='#'>Ph.D Candidate</a>
          </li>
          <li>
            <a data-cat='Undergraduate' href='#'>Undergraduate</a>
          </li>

        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>

<h1>
  <center>
    Alumni 
  </center>
  
</h1>

<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='alPHD' href='#'>Alumni (Ph.D)</a>
          </li>
          <li>
            <a data-cat='alVisitors' href='#'>Alumni (Visitors)</a>
          </li>
          <li>
            <a data-cat='alMasters' href='#'>Alumni (Masters Students)</a>
          </li>


        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.ks %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>